.FormInput {
  width: calc(46 * 1vmin);
  margin-bottom: 0.5rem;
  padding: 2vmin;
  font-family: "Cormorant SC", serif;
  font-size: calc(10px + 1vmin);
  background-color: white;
  border: none;
}
.BodyTextForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.FormHalf {
  width: calc(40% + 2px);
  margin-bottom: 0.5rem;
  padding: 2vmin;
  font-family: "Cormorant SC", serif;
  font-size: calc(10px + 1vmin);
  background-color: white;
  border: none;
}
.FormSelect {
  width: calc(50 * 1vmin);
  margin-bottom: 0.5rem;
  padding: 2vmin;
  font-family: "Cormorant SC", serif;
  font-size: calc(10px + 1vmin);
  background-color: white;
  border: none;
}
